.image {
    margin: 0 auto;
    max-width: 375px;
    width: 100%;
}
.text {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: monospace;
    line-height: 1.68;
    letter-spacing: 0.24em;
}
.container {
    padding: 0 20px 20% 20px;
}