.image {
    margin: 0 auto;
    max-width: 375px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.text {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: monospace;
    line-height: 1.68;
    letter-spacing: 0.24em;
}
.container {
    padding: 0 20px 20% 20px;
}